version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.10
    steps:
      - checkout
      - run:
          name: set env
          command: |
            export ENV=production
      - run:
          name: echo env
          command: |
            echo $ENV
  test:
    docker:
      - image: circleci/golang:1.10
    steps:
      - checkout
      - run:
          name: Say hello
          command: |
            echo Hello

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test
